.eloContainer {
  height: 175px;
  border-radius: 5px;
  padding: 10px;
  background-color: #1b2223;
  margin-bottom: 15px;
}

.lvlSelectContainer {
  display: flex;
  justify-content: right;

  svg {
    color: #dbdbdb;
  }

  :global(.MuiSelect-select) {
    background-color: red;
    padding: 5px 15px;
    color: #dbdbdb;
    background-color: #1b2223;
  }
}

.statsRowsContainer {
  .row {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid #121414;

    .valueName {
      color: #dbdbdb;
      font-weight: 100;
    }

    .value {
      font-weight: bold;
    }
  }
}
