@import '../../styles/variables.scss';

.notFoundMessage {
  text-align: center;
  padding: 15px;
  background-color: $custom-darkgray;
  border-radius: 14px;

  p {
    margin: 35px 0;
    font-size: 16px;
  }
}
