@import '../../../styles/variables.scss';

.drawContainer {
  padding: 15px;
  display: flex;
  overflow: auto;
  background-color: $custom-lightlightgray;
  height: 750px;

  .stageWrapper {
    min-width: 325px;

    .stageTitle {
      background-color: $custom-darkgray;
      color: $custom-white;
      text-align: center;
      padding: 10px;
      margin: 0 0 20px;
    }

    .stage {
      margin-right: 35px;
    }
  }

  .matchesWrapper {
    .matchInputContainer {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 35px;

      .matchButtons {
        width: 100%;
      }

      .playersRow {
        background-color: $custom-lightgray;
        width: 100%;
        margin-bottom: 10px;
        display: flex;

        &.winnerRow {
          background-color: $custom-green;
        }
        
        select {
          font-size: 18px;
          margin: 5px;
          width: 50%;
          display: block;
          outline: none;
        }
      }
    }

    .match {
      padding: 10px;
      position: relative;

      .player {
        background-color: $custom-white;
        display: block;
        margin-bottom: 5px;
        padding: 5px;

        &.loser {
          background-color: $custom-lightlightgray;
          color: $custom-lightgray;
        }
      }

      select {
        background-color: $custom-white;
        margin-bottom: 5px;
        padding: 5px;
      }

      .score {
        position: absolute;
        bottom: 5px;
      }
    }
  }
}

.twoSides {
  display: flex;
  flex: 1;

  .side {
    width: 50%;
    margin: 20px;
  }
}

.playersListContainer {
  .playersListTitle {
    margin: 20px 0;
    margin-top: 10px;
    font-size: 18px;
    background-color: $custom-scarlet;
    padding: 10px;
    text-align: center;
    color: $custom-white
  }

  .playersList {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &.new .player span {
      background-color: $custom-olive;
    }

    .player {
      display: block;
      width: 50%;
      padding: 5px;
      margin-bottom: 10px;

      span {
        font-style: italic;
        padding: 5px;
        background-color: $custom-lightgray;
      }
    }
  }
}

.matchActionsButtons {
  display: flex;
  margin: 5px;
  width: 100%;
  justify-content: space-around;

  .saveMatch {
    background-color: $custom-green;
  }
  .editMatch {
    background-color: $custom-yellow;
  }

  .saveMatch,
  .editMatch {
    width: 140px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;

    svg {
      height: 30px;
      width: 30px;
    }
  }
}


.addPlayersContainer {
  max-width: 50%;
  overflow: hidden;
}

.fieldsContainer {
  .field {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    background-color: $custom-lightgray;
    margin-bottom: 10px;
    align-items: center;

    span {
      width: 50%;
      height: 20px;

      &:first-child {
        text-align: left;
        font-weight: 400;
      }
      
      &:last-child {
        text-align: right;
        cursor: pointer;
        overflow: hidden;
        border-bottom: $custom-green;
      }
    }

    &.drawType,
    &.type {
      select {
        width: 50%;
        height: 30px;
        font-size: 16px;
        border: none;
        background: $custom-darkgray;
        color: $custom-white;
        cursor: pointer;
        outline: none;
        padding: 0 5px;

        &[disabled] {
          cursor: not-allowed;
        }
      }
    }

    &.status {
      select {
        width: 50%;
        height: 30px;
        line-height: 30px;
        padding: 0 10px;
        background-color: $custom-yellow;
        text-align: center;
        outline: none;
        font-size: 20px;
      }
    }

    &.inputField input {
      width: 50%;
      outline: none;
      background-color: $custom-darkgray;
      color: $custom-white;
      height: 30px;
      font-size: 16px;
      border: none;
      padding: 0 5px;
    }

    &.surface select {
      width: 50%;
      height: 30px;
      line-height: 30px;
      padding: 0 10px;
      background-color: $custom-olive;
      text-align: center;
      outline: none;
      font-size: 20px;
    }

    &[disabled] {
      background-color: $custom-lightlightgray;
      cursor: not-allowed;
      border: 1px solid $custom-darkgray;
    }
  }
}

.controlButtons {
  display: flex;
  flex: 1;

  button {
    width: 50%;
    margin: 10px;
    cursor: pointer;

    &:first-child {
      background-color: $custom-green;
      font-size: 18px;

      &:disabled {
        cursor: not-allowed;
        opacity: 0.8;
      }
    }

    &:last-child {
      background-color: $custom-lightlightgray;
      font-size: 18px;
    }
  }
}
