@import '../../styles/variables.scss';

.pageContainer {
  .tableControls {
    width: 100%;
    padding: $padding;
    border-bottom: 1px solid $border-color;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .buttons {
      display: flex;
      justify-content: end;
      
      button {
        font-size: 18px;
        margin-left: 20px;
      }
    }
  }

  .tableContainer {
    overflow-x: scroll;
    padding: $padding;
    margin-bottom: 15px;

    table {
      border-spacing: 0;
    }

    thead {
      background-color: $custom-lightgray;
    }
  
    th,
    td {
      padding: $padding;
      min-width: 200px;
      text-align: left;
      border: 1px solid $border-color;

      &:first-child {
        min-width: initial;

        input {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}

