@import '../../styles/variables.scss';

.table {
  overflow-x: scroll;
  padding: 15px;
  margin-bottom: 15px;

  table {
    border-spacing: 0;
    font-size: 16px;
  }

  thead {
    background-color: $custom-lightgray;
    font-size: 20px;
  }

  .selectedRow {
    background-color: $custom-lightgray;
  }

  th,
  td {
    padding: 3px;
    max-width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
    border: 1px solid $custom-lightgray;

    &:first-child {
      width: 50px;

      input {
        width: 15px;
        height: 15px;
      }
    }
  }
}

.tableWrapper {
  width: 100%;
  overflow-x: scroll;
  margin-top: 50px;
}

.tableHeader {
  width: calc(100% - $sidebar-width - 30%);
  width: 100%;
  background-color: $custom-white;
  display: flex;
  align-items: center;
  position: fixed;
  margin-top: -15px;
  padding-top: 15px;
}
