@import '../../styles/variables.scss';

.headerContainer {
  height: $header-height;
  padding: $padding;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $custom-darkgray;
  background: linear-gradient(90deg, $custom-darkgray 0%, $custom-aqua 25%);

  svg, 
  .image {
    width: 55px;
    height: 55px;
  }

  svg {
    cursor: pointer;
    color: $custom-darkgray;
  }
}