@import '../styles/variables';

.tournamentName {
  color: $custom-lightgray;
  text-transform: uppercase;
  font-weight: 300;
}

.match {
  position: relative;
  margin-bottom: 5px;
  border-bottom: 2px solid $border-color;

  &:last-child {
    border: none;
  }

  .time {
    font-size: 12px;
  }

  .win {
    color: $custom-green;
  }

  .lose {
    color: $custom-red;
  }

  .players {
    font-weight: 600;
    margin: 8px 0;
  }

  .buttons {
    display: flex;

    svg {
      width: 30px;
      height: 30px;
      color: $custom-aqua;
      margin-left: 5px;
    }
  }

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.score {
  font-weight: bold;
}

.setScoreCol {
  font-size: 14px;
  padding: 0 8px;
  width: 10px;
  display: inline-block;
  margin-right: 5px;

  &:last-child {
    margin-right: 0;
  }
}
