.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: url("../public/previewBGImage.png");
  background-repeat: no-repeat;
  background-size: contain;

  .blur {
    height: 300px;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    border-radius: 14px 14px 0 0;
    position: absolute;
    bottom: 0;

    .description {
      padding: 20px;

      h2 {
        margin: 0;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 36px;
        letter-spacing: -0.165px;
        color: #FFFFFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }

      p {
        margin: 24px 0 44px 0;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: -0.165px;
        color: #FFFFFF;
      }
    }

    .buttons {
      .back {
        z-index: 3;
        position: absolute;
        bottom: 30px;
        left: 30px;
        height: 40px;
        width: 40px;
        background-color: white;
        color: black;
        padding: 10px;
        border-radius: 50%;

        svg {
          width: 100%;
          height: 100%;
        }

        &:last-child {
          margin-left: 60px;
          transform: rotate(180deg);
        }
      }
    }
  }
}