@import '../styles/variables.scss';

.container {
  position: relative;
}

.searchInput {
  display: flex;
  align-items: center;
  position: relative;

  .searchButton,
  .filterButton {
    position: absolute;
    cursor: pointer;
  }

  .searchButton {
    left: 15px;
  }

  .filterButton {
    right: 15px;
  }

  input {
    width: 100%;
    height: 50px;
    background-color: $custom-medium-dark;
    border: none;
    border-radius: 14px;
    color: $custom-white;
    outline: none;
    padding: 10px 10px 10px 60px;
    text-align: left;
  }
}

.searchDropdown {
  position: absolute;
  background-color: $custom-medium-dark;
  border-radius: 14px;
  width: calc(100% - 30px);

  .filterButton {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
  }

  ul {
    width: 100%;
    list-style: none;
    padding-left: 20px;
    margin: 0;

    li {
      padding-bottom: 8px;
    }

    p {
      padding-top: 16px;
      margin: 0 0 20px 0;
      font-weight: 600;
    }
  }
}
