@import '../../styles/variables.scss';

.skCubeGrid {
  width: 60px;
  height: 60px;
  margin: auto;
}

.skCube {
  width: 33%;
  height: 33%;
  background-color: $custom-aqua;
  float: left;
  animation: sk-cube-grid-scale-delay 1.4s infinite ease-in-out;
}

.skCube1 {
  animation-delay: 0.4s;
}
.skCube2 {
  animation-delay: 0.6s;
}
.skCube3 {
  animation-delay: 0.8s;
}
.skCube4 {
  animation-delay: 0.2s;
}
.skCube5 {
  animation-delay: 0.4s;
}
.skCube6 {
  animation-delay: 0.6s;
}
.skCube7 {
  animation-delay: 0s;
}
.skCube8 {
  animation-delay: 0.2s;
}
.skCube9 {
  animation-delay: 0.4s;
}

@keyframes sk-cube-grid-scale-delay {
  0%, 70%, 100% {
  transform: scale3D(1,1,1);
  }
  35% {
  transform: scale3D(0,0,1);
  }
}
