@import '../../../styles/variables.scss';

// MAIN PAGE START
.mainPageContainer {
  .createNewDigest {
    margin-bottom: 50px;

    .createLink {
      cursor: pointer;
      padding: 5px;
      font-size: 18px;
      background-color: $custom-green;
      color: $custom-black;
      border: 2px solid $custom-black;
      display: inline-block;
    }
  }

  .digestCardsContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .digestCard {
    transition: 0.2 ease;
    margin-bottom: 50px;
    cursor: pointer;
    background-color: pink;
    border-radius: 14px;
    padding: 15px;
    font-weight: bold;

    &:hover {
      transform: scale(1.005);
      transition: 0.2 ease;
    }
  }

  .date {
    color: $custom-black;
    font-size: 16px;
  }

  .title {
    display: block;
    margin-bottom: 20px;
    font-size: 20px;
  }

  .desc {
    display: block;
    font-size: 16px;
  }
}

// MAIN PAGE END

// CREATE PAGE START

.createPageContainer {
  .sidesContainer {
    display: flex;
  }

  .side {
    width: 50%;

    &:first-child {
      margin-right: 10px;
    }

    &:last-child {
      margin-left: 10px;
    }
  }

  .inputField {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    min-height: 30px;
    padding: 5px 10px;
    font-size: 16px;
  }

  input,
  textarea {
    outline: none;
  }

  .markdownWrapper {
    margin-bottom: 10px;
  }

  .submitButton {
    background-color: $custom-green;
    border: none;
    color: $custom-black;
    font-size: 20px;
    padding: 5px;
    width: 200px;
    border: 2px solid $custom-green;

    &:focus {
      border-color: $custom-black;
    }
  }
}

// CREATE PAGE END

// SINGLE PAGE START

.singleDigestPage {
  .digestDate {
    font-size: 20px;
    margin-bottom: 50px;
  }
}

// SINGLE PAGE END
