@import '../../../styles/variables.scss';

.drawContainer {
  padding: 15px;
  display: flex;
  overflow: auto;
  background-color: $custom-lightlightgray;
  height: 750px;

  .stage {
    margin-right: 35px;

    .stageTitle {
      background-color: $custom-darkgray;
      color: $custom-white;
      text-align: center;
      padding: 10px;
      margin: 0 0 20px;
    }
  }
}

// continer for singles and groups
.matchContainer {
  position: relative;
  display: flex;
  margin-bottom: 35px;
  background-color: $custom-lightgray;
  padding: 10px;
}

.drawUnitAction {
  width: 140px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;

  &.createMatch {
    background-color: $custom-green;
  }

  &.editMatch {
    background-color: $custom-yellow;
  }

  svg {
    height: 30px;
    width: 30px;
  }
}

.singleGroup {
  display: block;
}

.singleGroup,
.singleGroup .match {
  margin-bottom: 40px;
}

.groupTitle {
  background-color: $custom-darkgray;
  color: $custom-white;
  padding: 5px;
  margin: -10px -10px 20px;
  height: 30px;
}

// MATCH COMPONENT START

.match {
  background-color: $custom-lightlightgray;
  position: relative;
}

.players {
  width: 300px;
  font-size: 18px;
  padding: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;

  &.winner {
    background-color: rgba($custom-green, 0.8);
  }
}

.vs {
  text-align: center;
  font-size: 18px;
  font-style: italic;
  margin: 5px 0;
}

.matchInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.score {
  font-size: 20px;
  align-self: center;
}

.matchId {
  font-weight: bold;
  position: absolute;
  top: -12px;
  font-size: 12px;
}

// MATCH COMPONENT END
