@import '../styles/variables.scss';

.layoutContainer {
  color: $custom-darkgray;

  .mainSection {
    display: flex;
    background-color: $custom-white;
    
    .pageContainer {
      padding: $padding;
      width: calc(100% - $sidebar-width);
      height: calc(100% - $sidebar-width);
    }
  }
}