@import '../styles/variables.scss';

.layoutContainer {
  width: 100vw;
  // https://medium.com/quick-code/100vh-problem-with-ios-safari-92ab23c852a8
  // fixes problem only for iphone
  height: 100vh;
  // height: -webkit-fill-available;
  position: relative;
  background-image: url('../public/previewBGImage.png');
  background-repeat: no-repeat;
  background-size: cover;
  
  .blurBlock {
    width: 100%;
    height: 300px;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    border-radius: 14px 14px 0 0;
    position: absolute;
    bottom: 0;
  }
}
