@import '../../styles/variables.scss';

.form {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;

  .input {
    width: 33%;
    margin-bottom: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;

    span {
      display: block;
      text-align: left;
    }

    input {
      width: 80%;
      font-size: 16px;
      padding: 5px 10px;

      &:focus{
        outline: none;
        border: 1px solid $custom-white;
      }
    }

    input[type='checkbox']{
      width: 20px;
      height: 20px;
    }

    select {
      width: 80%;
      font-size: 16px;
      padding: 5px 10px;

      &:focus{
        outline: none;
        border: none;
      }
    }
  }

  .submit {
    width: 50%;
    padding: $padding;
    background-color: $custom-green;
    color: $custom-darkgray;
    font-weight: bold;
    border: 0;
    cursor: pointer;
    text-transform: uppercase;
  }

  .reset{
    width: 50%;
    padding: $padding;
    background-color: $custom-yellow;
    color: $custom-darkgray;
    font-weight: bold;
    border: 0;
    cursor: pointer;
    text-transform: uppercase;
  }

  .container{
    width: 100%;
  }
}

.errorMessage {
  margin: 4px 0 0 0;
  color: $custom-red;
  font-size: 10px;
}