@import '../../styles/variables.scss';

.tableControls {
  display: flex;
  overflow-x: scroll;

  button {
    height: 30px;
    font-size: 18px;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;

    &.pick {
      background-color: $custom-aqua;
    }

    &.add {
      background-color: $custom-green;
    }

    &.update {
      background-color: $custom-yellow;
    }

    &.delete {
      background-color: $custom-red;
    }

    &.reset {
      background-color: $custom-lightgray;
    }

    &[disabled] {
      cursor: not-allowed;
    }
  }
}
