@import '../../styles/variables.scss';

.tableControls {
  width: 100%;
  padding: $padding;
  border-bottom: 1px solid $border-color;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  button {
    font-size: 18px;
    margin-left: 20px;
    cursor: pointer;

    &.pick {
      background-color: $custom-aqua;
    }

    &.add {
      background-color: $custom-green;
    }

    &.update {
      background-color: $custom-yellow;
    }

    &.delete {
      background-color: $custom-red;
    }

    &.reset {
      background-color: $custom-lightgray;
    }

    &[disabled] {
      cursor: not-allowed;
    }
  }
}