@import '../../styles/variables';

.eloChart {
  margin-bottom: 20px;
}

.levelContainer {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  select {
    outline: none;
    color: $custom-lightlightgray;
    background-color: $custom-darkgray;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    padding: 5px;
  }
}
