@import '../../styles/variables.scss';

.container {
  margin-bottom: 20px;
  position: relative;

  :global(.react-autosuggest__input) {
    outline: none;
    background-color: $custom-mediumdarkgray;
    color: $custom-white;
    border: none;
    height: 50px;
    line-height: 50px;
    border-radius: 14px;
    font-size: 18px;
    width: 100%;
    padding: 15px 10px 15px 50px;
  }

  :global(.react-autosuggest__input--open) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 1px solid $custom-lightlightgray;
  }

  :global(.react-autosuggest__suggestions-container) {
    color: $custom-white;
    background-color: $custom-mediumdarkgray;
    max-height: 230px;
    overflow-y: scroll;
    width: calc(100% - 60px);
    z-index: 3;
    position: absolute;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
  }

  :global(.react-autosuggest__container) {
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    ul {
      list-style-type: none;
      padding: 10px;
      font-size: 16px;
      margin: 0;

      li {
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.searchIcon {
  position: absolute;
  top: 13px;
  left: 13px;

  svg {
    width: 24px;
    height: 24px;
  }
}

.noSuggestions {
  color: $custom-white;
  background-color: $custom-mediumdarkgray;
  border-radius: 14px;
  padding: 15px;
  text-align: center;
  margin-top: 5px;
  font-size: 14px;
}
