@import '../../styles/variables';

.container {
  overflow: auto;
  white-space: nowrap;
  height: 32px;

  :global(.MuiTabs-indicator) {
    display: none;
  }


  .tab {
    text-transform: capitalize;
    margin-right: 4px;
    background-color: $custom-darkgray;
    border-radius: 14px;
    color: $custom-white;
    cursor: pointer;
  }

  .activeTab {
    background-color: $custom-aqua;
    color: $custom-black
  }
}