@import '../../../../styles/variables.scss';

.pagination {
  padding: $padding;

  .arrows {
    button,
    select {
      margin-right: 5px;
      margin-bottom: 15px;
    }
  }
}

.tableControls {
  width: 100%;
  padding: $padding;
  border-bottom: 1px solid $border-color;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  button {
    font-size: 18px;
    margin-left: 20px;

    &[disabled] {
      cursor: not-allowed;
    }
  }
}


.tableContainer {
  overflow-x: scroll;
  padding: $padding;
  margin-bottom: 15px;

  table {
    border-spacing: 0;
    font-size: 16px;
  }

  thead {
    background-color: $custom-lightgray;
    font-size: 20px;
  }

  .selectedRow {
    background-color: $custom-lightgray;
  }

  th,
  td {
    padding: $small-padding;
    min-width: 200px;
    text-align: left;
    border: 1px solid $border-color;

    &:first-child {
      min-width: initial;

      input {
        width: 15px;
        height: 15px;
      }
    }
  }
}