@import './variables.scss';

.pageContainer {
  position: relative;

  .createPageButton {
    text-decoration: none;
    background-color: $custom-green;
    font-size: 20px;
    padding: 5px;
    border: 2px solid black;
  }

  a {
    text-decoration: underline;
    font-size: 20px;

    &:hover {
      text-decoration: none;
    }
  }
}

