@import './variables.scss';

.pageContainer {
  margin-top: 80px;
  padding: 15px;
}

.digestListEl {
  background-color: $custom-darkgray;
  border-radius: 14px;
  padding: 15px;
  margin-bottom: 15px;

  .title {
    margin-right: 20px;
    display: block;
    margin-bottom: 10px;
  }

  .date {
    display: block;
    font-size: 12px;
  }
}
