.formActions {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  .submitButton {
    width: 150px;
    padding: 10px;
    border: 1px solid;
  }
}

.youtubeLink {
  display: inline-block;
  width: 500px;
}

.formContainer {
  display: flex;

  input,
  select {
    margin: 5px;
    padding: 5px;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: aliceblue;

    &:active {
      margin: 0 5px 5px 0;
    }
  }
}
