.formActions {
  width: 100%;
  margin-top: 50px;

  .submitButton {
    width: 150px;
    padding: 10px;
    background-color: #2f80ed;
    color: white;
  }
}

.youtubeLink {
  display: inline-block;
  width: 500px;
}

.formContainer {
  max-width: 90vw;
  display: flex;

  input,
  select {
    margin: 5px;
    padding: 5px;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: aliceblue;
    width: 210px;

    &:active {
      margin: 0 5px 5px 0;
    }
  }
}
