@import './variables.scss';

.pageContainer {
  margin-top: 30px;
  padding: 0 15px 15px;

  button[disabled] {
    pointer-events: none;
    touch-action: none;
    opacity: 0.5;
  }
}

.selection {
  border-radius: 14px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input {
  outline: none;
  background-color: $custom-black;
  color: $custom-white;
  padding: 5px 10px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  width: 100%;
  height: 45px;
}

.selectedPlayer {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 20px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: $custom-mediumdarkgray;

  &:last-child {
    margin-bottom: 0;
  }
}

.buttons {
  display: flex;
  justify-content: center;

  .compare,
  .reset {
    outline: none;
    border: none;
    color: $custom-black;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
    padding: 10px 15px;
    margin: 0 10px;

    &:active {
      opacity: 0.8;
    }
  }

  .compare {
    background-color: $custom-aqua;
  }

  .reset {
    background-color: $custom-lightgray;
  }
}

.vs {
  display: inline-block;
  width: 100%;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.searchInputContainer {
  :global(.react-autosuggest__suggestions-container) {
    width: 100%;
  }
}
