@import './variables.scss';

.homePage {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('../public/home.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: $custom-white;
}

.wrapperIcons{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  row-gap: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
  font-family: $default-font-family;
}

.innerInstallIcons{
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  span {
    font-size: 16px;
    font-weight: 400;
  }

  .installIcon {
    color: $custom-gray;
    font-size: 40px;
  
    &:active{
      color: $custom-aqua;
      transform: scale(1.1);
    }
  }
}

.infoIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 30px;
  width: 37px;
  height: 37px;
  border-radius: 5px;
  color: $custom-gray;
  margin-bottom: 5px;

  &:last-child{
    margin: 0;
  }

  &.active {
    border-radius: 0 5px 5px 0;
    background-color: $custom-gray;
    color: $custom-mediumdarkgray;
  }  
}

.infoText {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  right: 37px;
  height: 37px;
  width: max-content;
  padding: 0 10px;
  border-radius: 5px 0 0 5px;
  font-size: 14px;
  background-color: $custom-gray;
  color: $custom-mediumdarkgray;
}

.iconText{
  font-size: 20px;
  color: $custom-scarlet;
}

.description {
  padding: 20px;
  margin-bottom: 135px;

  h2 {
    margin: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.165px;
    color: $custom-white;
  }

  p {
    margin: 20px 0 40px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.165px;
    color: $custom-white;
  }

  .secondaryDesc {
    margin-bottom: 0;
  }
}
