@import '../styles/variables';

.container {
  width: 100vw;
  height: 100vh;
  background-image: url("../public/loginPageBGImage.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;

  .back {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: $custom-white;
    border-radius: 50%;
    z-index: 3;
    color: $custom-black;
    top: 80px;
    left: 35px;
    padding: 4px;
  }

  .section {
    position: absolute;
    bottom: 0;
    padding: 35px;

    .info {
      margin-bottom: 40px;

      h3 {
        margin: 0 0 22px 0;
      }

      p {
        margin: 0;
        line-height: 16px;
        letter-spacing: -0.165px;
        font-weight: 500;
        font-size: 14px;
      }
    }

    .buttons {
      display: flex;
      flex-direction: column;

      button {
        padding: 16px;
        border-radius: 8px;
        border: none;
        font-weight: 600;
      }

      .login {
        background-color: $custom-aqua;
        margin-bottom: 10px;
      }

      .signup {
        background-color: $custom-white;
      }
    }
  }

  .modal {
    z-index: 5;
    height: 70vh;
    background-color: $custom-darkgray;
    border-radius: 30px 30px 0 0;
    padding: 75px 35px;
    position: absolute;
    bottom: 0;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 44px;

      h1 {
        margin: 0;
        font-weight: normal;
        line-height: 30px;
        letter-spacing: -0.165px;
      }
    }

    input {
      height: 50px;
      width: 100%;
      border-radius: 14px;
      background-color: $custom-medium-dark;
      border: none;
      margin-bottom: 10px;
      padding-left: 20px;
    }

    .signup {
      background-color: $custom-white;
      margin-top: 44px;
    }

    .login {
      color: $custom-white;
      background-color: $custom-aqua;
      margin-top: 44px;
    }

    .forgetPassword {
      display: flex;
      justify-content: flex-end;
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: -0.165px;
      margin-bottom: 14px;

      .resetPassword {
        color: $custom-aqua;
      }
    }

    .footer {
      margin-top: 50px;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      text-align: center;
      letter-spacing: -0.165px;

      .agreement {
        color: $custom-aqua;
      }
    }

    .rememberMe {
      display: flex;
      align-items: center;
      justify-content: start;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: -0.165px;

      input {
        width: 20px;
        height: 20px;
        margin: 0 10px 0 0;
      }
    }
  }
}