@import './variables.scss';

.pageContainer {
  padding: 15px;
  margin-top: 130px;
}

.linksList {
  margin: 0;
  padding: 0;

  li {
    margin-bottom: 10px;
    font-size: 18px;
  }
}

.pageLink {
  color: $custom-lightgray;
  text-decoration: underline;
  display: block;
  margin-bottom: 10px;
  font-size: 20px;

  &:active {
    color: $custom-aqua;
  }
}
