@import './variables.scss';

.pageContainer {
  position: relative;
  padding: 15px;
  margin-top: 140px;
}

.searchInputContainer {
  width: calc(100% - 30px);
  position: absolute;
  top: -65px;

  :global(.react-autosuggest__suggestions-container) {
    width: 100%;
  }
}
