@import './variables.scss';

.sidebarContainer {
  width: $sidebar-width;
  min-height: calc(100vh - 100px);
  padding: $padding;
  border-right: 1px solid $border-color;
  color: $custom-darkgray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .menuItem {
    display: flex;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.15s;

    &:hover {
      background-color: $custom-lightgray;
      transition: 0.15s;
    }

    svg {
      height: 20px;
      width: 20px;
      margin-right: 20px;
      color: $custom-darkgray;
    }

    &.supportItem {
      color: $custom-red;
      margin-top: 20px;
      margin-bottom: 0;
    }
  }
}
