.Ñontainer {
  padding: 50px 15px 15px;
  min-height: 100vh;
  position: relative;

  .playersList {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      padding: 10px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
      border-radius: 5px;
      border-bottom: 1px solid #1b2223;

      div {
        > span:first-child {
          margin-right: 15px;
        }

        > span:last-child {
          background-color: #1b2223;
          color: #4cc4d1;
        }
      }
    }
  }
}
