.container {
  padding: 15px;
}

.header {
  margin-top: 60px;
  margin-bottom: 40px;
}

.listTitle {
  display: block;
  padding: 0;
  margin: 0 0 20px;
  font-size: 30px;
  font-weight: 600;
}

.tournamentListItem {
  background-color: #1b2223;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 10px;

  .status {
    padding: 5px;
    background-color: black;
    color: #4cc4d1;
    font-weight: 500;
    font-size: 14px;
    align-self: baseline;
    border-radius: 5px;
  }

  > div {
    display: flex;
    justify-content: space-between;

    &:first-child {
      margin-bottom: 10px;
      font-weight: 200;

      span {
        display: inline-block;

        &:first-child {
          max-width: 70%;
          font-weight: 500;
        }
      }
    }
  }
}
