@import './variables.scss';

.pageContainer {
  position: relative;
  padding: 15px;
  margin-top: 80px;

  .link {
    margin-bottom: 8px;
    display: block;

    &:active {
      border-radius: 14px;
      border: 1px solid $custom-aqua;
      margin: -1px;
      margin-bottom: 7px;
    }
  }
}

.searchInputContainer {
  width: calc(100% - 30px);
  position: absolute;
  top: -50px;

  :global(.react-autosuggest__suggestions-container) {
    width: 100%;
  }
}

.tournamentName {
  text-transform: uppercase;
}

.startDate {
  color: $custom-lightgray;
  font-weight: 200;
  font-size: 12px;
}

.weekFiltersContainer {
  margin-bottom: 15px;
  color: $custom-white;
  display: flex;
  justify-content: space-between;
}

.week {
  width: 25%;
  padding: 5px 10px;
  border-radius: 10px;
  color: $custom-white;
  background-color: $custom-darkgray;
  border: none;
  font-size: 12px;

  &:not(:last-child) {
    margin-right: 5px;
  }

  .weekNumber {
    font-size: 12px;
  }

  .weekRange {
    text-align: center;
    font-size: 10px;
  }

  p {
    margin: 0;

    &:first-child {
      margin-bottom: 5px;
    }
  }

  &.active {
    color: $custom-darkgray;
    background-color: $custom-aqua;
  }
}

.loadMoreContainer {
  text-align: center;
  margin-top: 10px;
}

.loadMore {
  border: 1px solid $custom-white;
  color: $custom-white;
  border-radius: 4px;
  padding: 5px;
  font-size: 16px;

  &:active {
    border-color: $custom-aqua;
  }

  &:disabled {
    opacity: 0.7;
    color: $custom-lightgray;
    border-color: $custom-lightgray;
    background-color: $custom-mediumdarkgray;
  }
}
