@import './variables.scss';

.сontainer {
  padding: 15px;
  min-height: 100vh;
  position: relative;
}

.header {
  height: 100px;

  .tournamentItem {
    position: absolute;
    top: 37px;
    left: 15px;
    padding-left: 80px;
    width: calc(100% - 30px);
  }
}

.tabsContainer {
  margin-top: 20px;
  position: relative;
}

.downloadButton {
  border: none;
  outline: none;
  position: absolute;
  top: 0;
  right: 0;
  color: $custom-white;

  svg {
    width: 34px;
    height: 34px;
  }
}
