$big-padding: 20px;
$padding: 15px;
$small-padding: 5px;

$header-height: 100px;

$custom-black: #121414;
$custom-darkgray: #1B2223;
$custom-lightgray: #DBDBDB;
$custom-white: #FFF;
$custom-aqua: #4CC4D1;
$custom-red: #FF3F00;

$border-color: $custom-darkgray;