$padding: 15px;
$small-padding: 5px;

$header-height: 100px;
$sidebar-width: 175px;

$custom-black: #121414;
$custom-darkgray: #1B2223;
$custom-gray : #C6C6C6;
$custom-lightgray: #DBDBDB;
$custom-lightlightgray: #F8F8F8;
$custom-white: #FFF;
$custom-aqua: #4CC4D1;
$custom-red: #FF3F00;
$custom-green: #38ff88;
$custom-yellow: #f9ff80;
$custom-scarlet: #D64550;
$custom-olive: #DAEFB3;

$border-color: $custom-darkgray;