$padding: 15px;
$small-padding: 5px;

$header-height: 100px;
$sidebar-width: 175px;

$custom-black: #121414;
$custom-darkgray: #1b2223;
$custom-mediumdarkgray: #4a4a4a;
$custom-gray: #c6c6c6;
$custom-lightgray: #dbdbdb;
$custom-lightlightgray: #f8f8f8;
$custom-white: #fff;
$custom-aqua: #4cc4d1;
$custom-red: #ff3f00;
$custom-green: #38ff88;
$custom-yellow: #f9ff80;
$custom-scarlet: #d64550;
$custom-olive: #daefb3;

$border-color: $custom-darkgray;
