@import '../../styles/variables.scss';

.stageButtons {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  // slider thumbs
  > div {
    justify-content: space-between;
  }
}

.stageButton {
  color: $custom-white;
  background-color: $custom-darkgray;
  width: 44px;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  padding: 10px 0;

  &.active {
    background-color: $custom-aqua;
    color: $custom-black;
  }
}

.name {
  display: block;

  svg {
    width: 12px;
    height: 12px;
  }

  &.winner {
    color: $custom-aqua;
  }
}

.doublesName {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 300px;

  svg {
    width: 12px;
    height: 12px;
  }

  &.winner {
    color: $custom-aqua;
  }
}

.groupWrapper {
  padding: 10px;
  background-color: $custom-darkgray;
  margin-bottom: 20px;
  border-radius: 10px;
  position: relative;
  text-align: center;
  width: 85%;
}

.stage {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.matchDoesntExists,
.match {
  position: relative;
  text-align: center;
  background-color: $custom-darkgray;
  border-radius: 4px;
  width: 85%;
  margin-bottom: 10px;

  &:nth-child(4n) {
    margin-bottom: 20px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &.groupMatch {
    width: 100%;
  }
}

.groupTitle {
  margin-top: 0;
  color: $custom-white;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 5px;
}

.nameContainer {
  display: flex;
  align-items: center;
}

.name,
.matchDate {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 150px;
}

.singleNameWrapper {
  display: flex;
}

.col {
  display: flex;
  max-width: 65%;
}
.doublesCol {
  display: flex;
  flex-direction: column;
  max-width: 70%;
}

.score {
  display: flex;
  font-size: 16px;
}

.matchDate {
  text-align: right;
}

.setCol,
.matchDate {
  display: flex;
  margin-right: 10px;

  &:last-child {
    margin: 0;
  }
}
.doublesMatchDate {
  display: flex;
  margin-right: 10px;
  flex-direction: column;
  
  &:last-child {
    margin: 0;
  }
}

.img {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid $custom-white;
  margin-right: 10px;
  overflow: hidden;
}

.finalsTrophy {
  position: absolute;
  right: 50%;
  bottom: 60px;

  svg {
    width: 35px;
    height: 35px;
  }
}

.fakeBracket {
  padding: 50px;
  background-color: black;
  position: absolute;
  display: flex;
  z-index: -1000;

  .stage {
    width: 500px;
  }
}

.carouselFragmentWrapper > div > div {
  width: 118% !important;
  align-items: center
}
